/*===========page9==================*/
.headset-icon-CD-page9 {
  position: absolute;
  padding: 5px;
  bottom: 30%;
  left: 24.8%;
  cursor: pointer;
}

.click-icon-page9-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3.5%;
  left: 83.2%;
  cursor: pointer;
}

.click-icon-page9-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 43.5%;
  left:35.9%;

  cursor: pointer;
}
.click-icon-page9-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 71.5%;
  left: 45.9%;
  cursor: pointer;
}
