/*===========page 6 ====================*/

.headset-icon-CD-page6 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 4.5%;
  left: 22%;
  cursor: pointer;
}

.clickable-area {
  position: absolute;
  cursor: pointer;
}
.pauseBtn-icon-CD-page6 {
  position: absolute;
  padding: 5px;
  top: 2.5%;
  left: 40.2%;
  cursor: pointer;
}

.headset-icon-CD-page6-1 {
  position: absolute;
  padding: 5px;
  top: 30%; /* عدلها حسب مكانها بالصورة */
  left: 40%; /* عدلها حسب المكان */
  cursor: pointer;
}
.headset-icon-CD-page6-2 {
  position: absolute;
  padding: 5px;
  top: 30%; /* عدلها حسب مكانها بالصورة */
  left: 90%; /* عدلها حسب المكان */
  cursor: pointer;
}
.headset-icon-CD-page6-3 {
  position: absolute;
  padding: 5px;
  bottom: 10%; /* عدلها حسب مكانها بالصورة */
  left: 60%; /* عدلها حسب المكان */
  cursor: pointer;
}
