/*=========page7===========*/
.headset-icon-CD-page7 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 2px; */
  padding: 5px;
  top: 4.5%;
  right: 75.2%;
  cursor: pointer;
}

.pauseBtn-icon-CD-page7 {
  position: absolute;
  padding: 5px;
  top: 2.5%;
  right: 53%;
  cursor: pointer;
}
.headset-icon-CD-page7-1 {
  position: absolute;
  padding: 5px;
  top: 30%; /* عدلها حسب مكانها بالصورة */
  left: 40%; /* عدلها حسب المكان */
  cursor: pointer;
}
.headset-icon-CD-page7-2 {
  position: absolute;
  padding: 5px;
  top: 30%; /* عدلها حسب مكانها بالصورة */
  left: 90%; /* عدلها حسب المكان */
  cursor: pointer;
}
.headset-icon-CD-page7-3 {
  position: absolute;
  padding: 5px;
  bottom: 10%; /* عدلها حسب مكانها بالصورة */
  left: 60%; /* عدلها حسب المكان */
  cursor: pointer;
}
