.headset-icon-CD-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 92%;
  cursor: pointer;
}
.click-icon-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  top: 28.5%;
  left: 64%;
  cursor: pointer;
}
.click-icon-unit4-page6-3 {
  position: absolute;
  padding: 5px;
  top: 72.5%;
  left: 66.5%;
  cursor: pointer;
}
.headset-icon-CD-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
