.q1-7{
  position: absolute;
  padding: 5px;
  top: 11%;

  left:44.5%;
  
}
.q2-7{
  position: absolute;
  padding: 5px;
  top: 64%;
  left: 74.5%;
}
.q3-7{  position: absolute;
  padding: 5px;
  top: 2%;
  left:49.5%;

}
.q4-7{
  position: absolute;
  padding: 5px;
  top: 57%;
  left:40.5%;
}
.q5-7{  position: absolute;
  padding: 5px;
  top: 2%;
  left:55.5%;

}
.q6-7{
  position: absolute;
  padding: 5px;
  top: 31%;
  left:24.5%;
}
.q7-7{  
position: absolute;
  padding: 5px;
  top: 2%;
  left:36.5%;
}
.q8-7{
 position: absolute;
  padding: 5px;
  top: 34%;
  left:34.5%;
}
.q9-7{  
 position: absolute;
  padding: 5px;
  top:2%;
  left: 49.5%;
}
.q10-7{
  position: absolute;
  padding: 5px;
  top:40%;
  left: 34.5%;
}
.q11-7{  position: absolute;
  padding: 5px;
  top: 10%;
  left:36.5%;

}
.q12-7{
  position: absolute;
  padding: 5px;
  top:24%;
  left: 29.5%;}
  
.q13-7{position: absolute;
  padding: 5px;
  top:58%;
  left:88.5%;
} 
 

.q14-7{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}