.q1-7{
  position: absolute;
  padding: 5px;
    top: 14%;
    left: 58.5%;
  
}
.q2-7{
  position: absolute;
  padding: 5px;
    top: 52.2%;
    left: 69.5%;
}
.q3-7{  position: absolute;
  padding: 5px;
top: 3%;
    left: 76.5%;

}
.q4-7{
  position: absolute;
  padding: 5px;
  top: 57%;
  left:40.5%;
}
.q5-7{  position: absolute;
  padding: 5px;
    top: 6%;
    left: 24%;

}
.q6-7{
  position: absolute;
  padding: 5px;
    top: 45%;
    left: 46.5%;
}
.q7-7{  
position: absolute;
  padding: 5px;
    top: 3%;
    left: 69.5%;

}
.q8-7{
 position: absolute;
  padding: 5px;
top: 53.5%;
    left: 61%;

}
.q9-7{  
 position: absolute;
  padding: 5px;
    top: 3%;
    left: 66.5%;
}
.q10-7{
  position: absolute;
  padding: 5px;
    top: 61.3%;
    left: 68.2%;

}
.q11-7{  position: absolute;
  padding: 5px;
    top: 5.5%;
    left: 39.5%;


}
.q12-7{
  position: absolute;
  padding: 5px;
    top: 33.7%;
    left: 68.5%;}
  
.q13-7{position: absolute;
  padding: 5px;
  top:58%;
  left:88.5%;
} 
 

.q14-7{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}