.click-icon-review9-page1-2 {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 21%;
  cursor: pointer;
}
.click-icon-review9-page1-1 {
  position: absolute;
  padding: 5px;
  top: 9.2%;
  left: 61.2%;
  cursor: pointer;
}
.click-icon-review9-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 24%;
  left: 52%;
  cursor: pointer;
}
