.click-icon-review10-page1-1 {
  position: absolute;
  padding: 5px;
  top: 11.3%;
  left: 36%;
  cursor: pointer;
}
.click-icon-review10-page1-2 {
  position: absolute;
  padding: 5px;
  bottom: 60.6%;
  left: 36%;
  cursor: pointer;
}
.click-icon-review10-page1-3 {
  position: absolute;
  padding: 5px;
  top: 65.5%;
  left: 17.2%;
  cursor: pointer;
}
.click-icon-review10-page1-4 {
  position: absolute;
  padding: 5px;
  bottom: 10.8%;
  left: 35%;
  cursor: pointer;
}
.headset-icon-CD-review10-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}
