.click-icon-review9-page2-2 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 84%;
  cursor: pointer;
}

.click-icon-review9-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 47.5%;
  left: 62%;
  cursor: pointer;
}
.click-icon-review9-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 23.5%;
  right: 24.2%;
  cursor: pointer;
}
.click-icon-review9-page2-4{
   position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
@media screen and (max-width: 1024px) and (max-height: 600px) {
  .click-icon-review9-page2-2 {
    top: 2.8%;
    left: 57.5%;
  }
      .click-icon-review9-page2-3 {
        top: 27.9% !important;
        right: 4.5% !important;
    }
        .click-icon-review9-page2-1 {
        bottom: 45% !important;
    }
}
@media (max-width: 1024px) {
  .click-icon-review9-page2-3 {
    top: 28.9%;
    right: 8.5%;
  }
  .click-icon-review9-page2-1 {
    bottom: 48%;
  }
}
