.click-icon-review10-page2-2 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 3%;
  left: 71%;
  cursor: pointer;
}

.click-icon-review10-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 19.5%;
  left: 78%;
  cursor: pointer;
}
.click-icon-review10-page2-3 {
  position: absolute;
  padding: 5px;
  top: 50.3%;
  left: 73.5%;
  cursor: pointer;
}
.headset-icon-CD-review10-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}
