.q1-10{
  position: absolute;
  padding: 5px;
  top: 13%;

  left:58.5%;
  
}
.q2-10{
  position: absolute;
  padding: 5px;
  top: 60%;
  left: 89.5%;
}
.q3-10{  position: absolute;
  padding: 5px;
  top: 2%;
  left:39.5%;

}
.q4-10{
  position: absolute;
  padding: 5px;
  top: 45%;
  left:45.5%;
}
.q5-10{  position: absolute;
  padding: 5px;
  top: 2%;
  left:38.5%;

}
.q6-10{
  position: absolute;
  padding: 5px;
  top: 47%;
  left:30.5%;
}
.q7-10{  
position: absolute;
  padding: 5px;
  top: 2%;
  left:39.5%;
}
.q8-10{
 position: absolute;
  padding: 5px;
  top: 56%;
  left:44.5%;
}
.q9-10{  
 position: absolute;
  padding: 5px;
  top:2%;
  left: 39.5%;
}
.q10-10{
  position: absolute;
  padding: 5px;
  top:48%;
  left: 70.5%;
}
.q11-10{  position: absolute;
  padding: 5px;
  top: 8%;
  left:33.5%;

}
.q12-10{
  position: absolute;
  padding: 5px;
  top:40%;
  left: 55.5%;}
  
.q13-10{position: absolute;
  padding: 5px;
  top:76%;
  left:37.5%;
} 
 

.q14-10{
  position: absolute;
  padding: 5px;
  top:83%;
  left: 73.5%;
}