.click-icon-review7-page1-2 {
  position: absolute;
  padding: 5px;
  top: 52%;
  left: 22.5%;
  cursor: pointer;
}
.click-icon-review7-page1-1 {
  position: absolute;
  padding: 5px;
  top: 9.3%;
  left: 67%;
  cursor: pointer;
}
.click-icon-review7-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 16%;
  left: 45%;
  cursor: pointer;
}
