.click-icon-review7-page2-2 {
  position: absolute;
  padding: 5px;
  top: 27.8%;
  left: 28.5%;
  cursor: pointer;
}

.click-icon-review7-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 28.5%;
  left: 43%;
  cursor: pointer;
}
.click-icon-review7-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 89%;
  right: 60%;
  cursor: pointer;
}
.click-icon-review7-page2-4 {
  position: absolute;
  padding: 5px;
  bottom: 20.5%;
  right: 30%;
  cursor: pointer;
}
