.input-wrapper-wb-unit1-page8-q1 {
  width: 30px;
  position: relative;
}

.unscramble-row-wb-unit1-p8-q1 {
  display: grid;
  gap: 50px;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.img-box-wb-unit1-p8-q1 img {
  width: 90px;
  height: 90px;
  /* object-fit: fill; */
}

.WB-unit1-p8-q1-input {
  flex: 1;
  min-width: 35px; /* 🔥 كبر العرض */
  min-height: 28px; /* 🔥 كبر الارتفاع */
  border-bottom: 3px solid #000;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  padding: 2px 4px;
  position: relative;
  width: 100%;
}
.input-row-wb-unit1-p8-q1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.error-icon-wb-unit1-p8-q1 {
  position: absolute;
  right: -12px; /* يظهر بجانب الصندوق */
  top: -3%;
  transform: translateY(-50%);
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  font-size: 14px;
  font-weight: bold;
}
.wrong-line {
  border-bottom: 3px solid red;
}
.wb-unit7-p2-q2 {
  top: 100px;
  position: fixed;
}

.q1-1 {
  position: absolute;
  padding: 5px;
  top: 14%;
  left: 31.5%;
}

.q2-1 {
  position: absolute;
  padding: 5px;
  top: 49%;
  left: 39%;
}

.q3-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}

.q4-1 {
  position: absolute;
  padding: 5px;
  top: 69.7%;
  left: 41.2%;
}

.q5-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 44.2%;
}

.q6-1 {
  position: absolute;
  padding: 5px;
  top: 27%;
  left: 32%;
}

.q7-1 {
  position: absolute;
  padding: 5px;
  top: 51.5%;
  left: 20%;
}

.q8-1 {
  position: absolute;
  padding: 5px;
  top: 73%;
  left: 41%;
}

.q9-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 47.8%;
}

.q10-1 {
  position: absolute;
  padding: 5px;
  top: 32%;
  left: 51.5%;
}

.q11-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 31.5%;
}

.q12-1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 20%;
}

.q13-1 {
  position: absolute;
  padding: 5px;
  top: 37.4%;
  left: 24%;
}
