.wb-unit7-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.5%;
  left: 55.5%;
}

.wb-unit7-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 49%;
  left: 46%;
}
.wb-unit7-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 40%;
}

.wb-unit7-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 46.5%;
  left: 62.5%;
}
.wb-unit7-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 40%;
}

.wb-unit7-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 51%;
  left: 74.5%;
}
.wb-unit7-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 52%;
}

.wb-unit7-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 48%;
  left:90%;
}
.wb-unit7-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 51%;
}
.wb-unit7-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 56%;
  left: 42%;
}
.wb-unit7-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 10%;
  left: 35.5%;
}

.wb-unit7-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 57%;
  left: 88%;
}
.wb-unit7-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 72%;
  left: 62%;
}
