.q1-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 13.7% !important;
    left: 45.5% !important;

}

.q2-8 {
  position: absolute !important;
  padding: 5px !important;

    top: 60% !important;
    left: 81.2% !important;

}

.q3-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 2.7% !important;
    left: 51.5% !important;

}

.q4-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 50.6% !important;
    left: 61.5% !important;
}

.q5-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 2.6% !important;
    left: 91.5% !important;

}

.q6-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 42% !important;
    left: 93.5% !important;

}

.q7-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 5.7% !important;
    left: 69.2% !important;
}

.q8-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 46% !important;
  left: 39.5% !important;
}

.q9-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 5.6% !important;
    left: 20.5% !important;

}

.q10-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 27% !important;
    left: 34.2% !important;
}

.q11-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 3.3% !important;
    left: 53.5% !important;
}

.q12-8 {
  position: absolute !important;
  padding: 5px !important;
    top: 58.6% !important;
    left: 24.5% !important;

}

.q13-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 58% !important;
  left: 88.5% !important;
}

.q14-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}