.q1-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 13% !important;
  left: 44.5% !important;
}

.q2-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 54% !important;
  left: 38.5% !important;
}

.q3-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 47.5% !important;
}

.q4-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 40% !important;
  left: 45.5% !important;
}

.q5-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 62.5% !important;
}

.q6-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 46% !important;
  left: 31.5% !important;
}

.q7-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 62.5% !important;
}

.q8-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 46% !important;
  left: 39.5% !important;
}

.q9-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 37.5% !important;
}

.q10-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 47% !important;
  left: 39.5% !important;
}

.q11-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 8% !important;
  left: 40.5% !important;
}

.q12-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 48% !important;
  left: 33.5% !important;
}

.q13-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 58% !important;
  left: 88.5% !important;
}

.q14-8 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}