.headset-icon-CD-page1-p,
.headset-icon-CD-page2-p,
.headset-icon-CD-page3-p,
.headset-icon-CD-page4-p,
.headset-icon-CD-page5-p,
.headset-icon-CD-page6-p,
.headset-icon-CD-page7-p,
.headset-icon-CD-page8-p,
.headset-icon-CD-page9-p,
.headset-icon-CD-page10-p,
.headset-icon-CD-page11-p,
.headset-icon-CD-page12-p,
.headset-icon-CD-page13-p,
.headset-icon-CD-page14-p,
.headset-icon-CD-page15-p,
.headset-icon-CD-page16-p,
.headset-icon-CD-page17-p,
.headset-icon-CD-page18-p,
.headset-icon-CD-page19-p,
.headset-icon-CD-page20-p {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}
.headset-icon-CD-page1-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page2-p {
  top: 12.5%;
  right: 68.2%;
}

.headset-icon-CD-page3-p {
  top: 5.5%;
  right: 61.2%;
}

.headset-icon-CD-page4-p {
  top: 18.5%;
  right: 4.2%;
}

.headset-icon-CD-page5-p {
  top: 5.5%;
  right: 55.2%;
}

.headset-icon-CD-page6-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page7-p {
  top: 5.5%;
  right: 43.2%;
}

.headset-icon-CD-page8-p {
  top: 18.5%;
  right: 9.2%;
}

.headset-icon-CD-page9-p {
  top: 5.5%;
  right: 37.2%;
}

.headset-icon-CD-page10-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page11-p {
  top: 5.5%;
  right: 33%;
}

.headset-icon-CD-page12-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page13-p {
  top: 5.5%;
  right: 44.2%;
}

.headset-icon-CD-page14-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page15-p {
  top: 5.5%;
  right: 36.5%;
}

.headset-icon-CD-page16-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page17-p {
  top: 5%;
  right: 73.2%;
}

.headset-icon-CD-page18-p {
  top: 6.5%;
  right: 59.2%;
}

.headset-icon-CD-page19-p {
  top: 5.5%;
  right: 54.2%;
}

.headset-icon-CD-page20-p {
  top: 6.5%;
  right: 59.2%;
}
