.headset-icon-CD-page1-p,
.headset-icon-CD-page2-p,
.headset-icon-CD-page3-p,
.headset-icon-CD-page4-p,
.headset-icon-CD-page5-p,
.headset-icon-CD-page6-p,
.headset-icon-CD-page7-p,
.headset-icon-CD-page8-p,
.headset-icon-CD-page9-p,
.headset-icon-CD-page10-p,
.headset-icon-CD-page11-p,
.headset-icon-CD-page12-p,
.headset-icon-CD-page13-p,
.headset-icon-CD-page14-p,
.headset-icon-CD-page15-p,
.headset-icon-CD-page16-p,
.headset-icon-CD-page17-p,
.headset-icon-CD-page18-p,
.headset-icon-CD-page19-p,
.headset-icon-CD-page20-p {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
}
.headset-icon-CD-page1-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page2-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page3-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page4-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page5-p {
     top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page6-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page7-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page8-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page9-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page10-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page11-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page12-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page13-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page14-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page15-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page16-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page17-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page18-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page19-p {
    top: 3.5%;
    right: -2.8%;
}

.headset-icon-CD-page20-p {
    top: 3.5%;
    right: -2.8%;
}
