.click-icon-review2-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
     top: 4.8%;
    left: 63%;
  cursor: pointer;
}

.click-icon-review2-page2-2 {
  position: absolute;
  padding: 5px;
     bottom: 50.5%;
    left: 74.5%;
  cursor: pointer;
}
.click-icon-review2-page2-3 {
  position: absolute;
  padding: 5px;
  top: 62%;
  left: 84%;
  cursor: pointer;
}
.headset-icon-CD-review3-page2-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}
