.click-icon-review1-page1-2 {
  position: absolute;
  padding: 5px;
  bottom: 41%;
    left: 80%;
  cursor: pointer;
}
.click-icon-review1-page1-1 {
  position: absolute;
  padding: 5px;
top: 15.3%;
    left: 20%;
  cursor: pointer;
}
.click-icon-review1-page1-3 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  top: 57%;
  left: 34%;

  cursor: pointer;
}
.click-icon-review1-page1-4 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 21%;
  left: 38.5%;
  cursor: pointer;
}
