.click-icon-review2-page1-1 {
  position: absolute;
  padding: 5px;
 top: 9.2%;
    left: 69%;
  cursor: pointer;
}
.click-icon-review2-page1-2 {
  position: absolute;
  padding: 5px;
    bottom: 51.8%;
    left: 43.5%;

  cursor: pointer;
}
.click-icon-review2-page1-3 {
  position: absolute;
  padding: 5px;
  top: 65.8%;
  left: 46.5%;
  cursor: pointer;
}
.click-icon-review2-page1-4 {
  position: absolute;
  padding: 5px;
  bottom: 10.8%;
  left: 35%;
  cursor: pointer;
}
.headset-icon-CD-review2-page1-1 {
  position: absolute;
  /* background-color: #6bcff6;
  border-radius: 20px;
  border: rgb(255, 255, 255) solid 3px; */
  padding: 5px;
  bottom: 26%;
  left: 24.5%;
  cursor: pointer;
}
