.click-icon-review1-page2-1 {
  position: absolute;
  padding: 5px;
  top: 3.2%;
  left: 69.2%;
  cursor: pointer;
}

.click-icon-review1-page2-2 {
  position: absolute;
  padding: 5px;
  top: 35.1%;
  right: 32.5%;

  cursor: pointer;
}
.click-icon-review1-page2-3 {
  position: absolute;
  padding: 5px;
  bottom: 33.9%;
  left: 44.5%;
  cursor: pointer;
}
