.click-icon-review5-page1-1 {
  position: absolute;
  padding: 5px;
  top: 11%;
    left: 32.5%;
  cursor: pointer;
}

.click-icon-review5-page1-2 {
  position: absolute;
  padding: 5px;
     top: 49.5%;
    left: 40.5%;
  cursor: pointer;
}
.click-icon-review5-page1-3 {
  position: absolute;
  padding: 5px;
  top: 65.5%;
  left: 91%;
  cursor: pointer;
}
