.q1-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 12% !important;
  left: 33.5% !important;
}

.q2-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 56% !important;
  left: 35.5% !important;
}

.q3-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 28.5% !important;
}

.q4-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 42% !important;
  left: 28.5% !important;
}

.q5-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 33.5% !important;
}

.q6-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 52% !important;
  left: 30.5% !important;
}

.q7-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 55.5% !important;
}

.q8-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 34.5% !important;
}

.q9-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 73% !important;
  left: 42.5% !important;
}

.q10-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 7% !important;
  left: 30.5% !important;
}

.q11-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 30% !important;
  left: 70.5% !important;
}

.q12-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 52% !important;
  left: 75.5% !important;
}

.q13-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 68% !important;
  left: 29.5% !important;
}

.q14-4 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}