.q1-5{
  position: absolute;
  padding: 5px;
  top: 12%;

  left:33.5%;
  
}
.q2-5{
  position: absolute;
  padding: 5px;
  top: 65%;
  left: 45.5%;
}
.q3-5{  position: absolute;
  padding: 5px;
  top: 2%;
  left:34.5%;

}
.q4-5{
  position: absolute;
  padding: 5px;
  top: 53%;
  left:34.5%;
}
.q5-5{  position: absolute;
  padding: 5px;
  top: 2%;
  left:35.5%;

}
.q6-5{
  position: absolute;
  padding: 5px;
  top: 48%;
  left:33.5%;
}
.q7-5{  
position: absolute;
  padding: 5px;
  top: 2%;
  left:27.5%;
}
.q8-5{
 position: absolute;
  padding: 5px;
  top: 33%;
  left:47.5%;
}
.q9-5{  
 position: absolute;
  padding: 5px;
  top:2%;
  left: 35.5%;
}
.q10-5{
  position: absolute;
  padding: 5px;
  top:38%;
  left: 26.5%;
}
.q11-5{  position: absolute;
  padding: 5px;
  top: 8%;
  left:49.5%;

}
.q12-5{
  position: absolute;
  padding: 5px;
  top:75%;
  left: 68.5%;}
.q13-5{position: absolute;
  padding: 5px;
  top:27%;
  left:34.5%;
} 
 

.q14-5{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}