.q1-5{
  position: absolute;
  padding: 5px;
    top: 18.5%;
    left: 73.5%;
}
.q2-5{
  position: absolute;
  padding: 5px;
    top: 49.3%;
    left: 68.3%;

}
.q3-5{  position: absolute;
  padding: 5px;
    top: 6%;
    left: 19.5%;

}
.q4-5{
  position: absolute;
  padding: 5px;
     top: 40%;
    left: 68%;

}
.q5-5{  position: absolute;
  padding: 5px;
    top: 6%;
    left: 36%;

}
.q6-5{
  position: absolute;
  padding: 5px;
    top: 44.5%;
    left: 25.5%;

}
.q7-5{  
position: absolute;
  padding: 5px;
top: 2.7%;
    left: 79%;
}
.q8-5{
 position: absolute;
  padding: 5px;
    top: 63.7%;
    left: 68%;
}
.q9-5{  
 position: absolute;
  padding: 5px;
    top: 5.5%;
    left: 38.5%;

}
.q10-5{
  position: absolute;
  padding: 5px;
  top:38%;
  left: 26.5%;
}
.q11-5{  position: absolute;
  padding: 5px;
    top: 2.7%;
    left: 90%;

}
.q12-5{
  position: absolute;
  padding: 5px;
  top:75%;
  left: 68.5%;}
.q13-5{position: absolute;
  padding: 5px;
    top: 57.3%;
    left: 81.5%;

} 
 

.q14-5{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}