.headset-icon-CD-unit7-page5 {
  position: absolute;
  padding: 5px;
  top: 25.5%;
  right: 24%;
  cursor: pointer;
}

/* EDIT: علامة الخطأ فقط */
.wrong-x2 {
  position: absolute;
  top: -11px;
  right: -22px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.check-box1 {
  transition: transform 0.25s ease;
}

.check-box1.selected1 {
  transform: scale(1.28);
}

.click-icon-unit8-page5-1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 89%;
  cursor: pointer;
}
.click-icon-unit8-page5-2 {
  position: absolute;
  padding: 5px;
  bottom: 26.5%;
  right: 48.5%;
  cursor: pointer;
}
.click-icon-unit8-page5-3 {
  position: absolute;
  padding: 5px;
  top: 32.3%;
  left: 55.5%;
  cursor: pointer;
}

.click-icon-unit8-page5-4 {
  position: absolute;
  padding: 5px;
  bottom: 51.5%;
  left: 39.8%;
  cursor: pointer;
}

/* ============================= */
/*      RESPONSIVE DESIGN        */
/* ============================= */
