.headset-icon-CD-unit5-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit8-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 81%;
  cursor: pointer;
}
.click-icon-unit8-page6-2 {
  position: absolute;
  padding: 5px;
  top: 25%;
  left: 58.8%;
  cursor: pointer;
}
.click-icon-unit8-page6-3 {
  position: absolute;
  padding: 5px;
  bottom: 26.5%;
  left: 49.5%;
  cursor: pointer;
}