.headset-icon-CD-unit5-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit8-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 89%;
  cursor: pointer;
}
.click-icon-unit8-page6-2 {
  position: absolute;
  padding: 5px;
  top: 44.5%;
  left: 48.3%;
  cursor: pointer;
}
.click-icon-unit8-page6-3 {
  position: absolute;
  padding: 5px;
  bottom: 16%;
  left: 17.5%;
  cursor: pointer;
}
