.headset-icon-CD-unit6-page2-1,
.click-icon-unit6-page2-1,
.headset-icon-CD-unit6-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit6-page2-1 {
  top: 6.5%;
  right: 70%;
}

.headset-icon-CD-unit6-page2-2 {
  bottom: 29.5%;
  right: 47%;
}

.click-icon-unit6-page2-1 {
  bottom: 10.5%;
  right: 37%;
}
