.q1-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 12% !important;
  left: 40.5% !important;
}

.q2-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 43% !important;
  left: 68.5% !important;
}

.q3-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 56.5% !important;
}

.q4-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 48% !important;
  left: 40.5% !important;
}

.q5-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 65.5% !important;
}

.q6-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 44% !important;
  left: 43.5% !important;
}

.q7-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 55.5% !important;
}

.q8-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 53% !important;
  left: 38.5% !important;
}

.q9-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 2% !important;
  left: 39.5% !important;
}

.q10-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 45% !important;
  left: 38.5% !important;
}

.q11-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 8% !important;
  left: 72.5% !important;
}

.q12-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 43% !important;
  left: 75.5% !important;
}

.q13-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 68% !important;
  left: 39.5% !important;
}

.q14-3 {
  position: absolute !important;
  padding: 5px !important;
  top: 80% !important;
  left: 73.5% !important;
}