.q1-6{
  position: absolute;
  padding: 5px;
  top: 12%;

  left:80.5%;
  
}
.q2-6{
  position: absolute;
  padding: 5px;
  top: 63%;
  left: 45.5%;
}
.q3-6{  position: absolute;
  padding: 5px;
  top: 2%;
  left:79.5%;

}
.q4-6{
  position: absolute;
  padding: 5px;
  top: 63%;
  left:38.5%;
}
.q5-6{  position: absolute;
  padding: 5px;
  top: 2%;
  left:39.5%;

}
.q6-6{
  position: absolute;
  padding: 5px;
  top: 72%;
  left:33.5%;
}
.q7-6{  
position: absolute;
  padding: 5px;
  top: 2%;
  left:36.5%;
}
.q8-6{
 position: absolute;
  padding: 5px;
  top: 55%;
  left:47.5%;
}
.q9-6{  
 position: absolute;
  padding: 5px;
  top:2%;
  left: 38.5%;
}
.q10-6{
  position: absolute;
  padding: 5px;
  top:24%;
  left: 63.5%;
}
.q11-6{  position: absolute;
  padding: 5px;
  top: 8%;
  left:62.5%;

}
.q12-6{
  position: absolute;
  padding: 5px;
  top:55%;
  left: 38.5%;}
.q13-6{position: absolute;
  padding: 5px;
  top:75%;
  left:30.5%;
} 
 

.q14-6{
  position: absolute;
  padding: 5px;
  top:80%;
  left: 73.5%;
}