.q1-6{
  position: absolute;
  padding: 5px;
    top: 15.5%;
    left: 81%;
  
}
.q2-6{
  position: absolute;
  padding: 5px;
    top: 42%;
    left: 69.5%;
}
.q3-6{  position: absolute;
  padding: 5px;
    top: 11%;
    left: 22.5%;


}
.q4-6{
  position: absolute;
  padding: 5px;
    top: 34%;
    left: 46.5%;
}
.q5-6{  position: absolute;
  padding: 5px;
    top: 5.7%;
    left: 21.5%;

}
.q6-6{
  position: absolute;
  padding: 5px;
    top: 52.2%;
    left: 21.5%;
}
.q7-6{  
position: absolute;
  padding: 5px;
 top: 6%;
    left: 32.3%;
}
.q8-6{
 position: absolute;
  padding: 5px;
    top: 31.3%;
    left: 21%;
}
.q9-6{  
 position: absolute;
  padding: 5px;
    top: 3%;
    left: 88.2%;

}
.q10-6{
  position: absolute;
  padding: 5px;
  top:24%;
  left: 63.5%;
}
.q11-6{  position: absolute;
  padding: 5px;
    top: 2.7%;
    left: 90.5%;

}
.q12-6{
  position: absolute;
  padding: 5px;
    top: 50%;
    left: 63.5%;
;}
.q13-6{position: absolute;
  padding: 5px;
  top:75%;
  left:30.5%;
} 
 

.q14-6{
  position: absolute;
  padding: 5px;
    top: 84%;
    left: 84.5%;
}