.headset-icon-CD-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 32%;
  cursor: pointer;
}

.click-icon-unit3-page6-1 {
  position: absolute;
  padding: 5px;
  top: 5.5%;
  left: 32%;
  cursor: pointer;
}
.click-icon-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  top: 32.8%;
  left: 43.5%;
  cursor: pointer;
}
.click-icon-unit3-page6-3 {
  position: absolute;
  padding: 5px;
  top: 66.5%;
  left: 76.5%;
  cursor: pointer;
}
.headset-icon-CD-unit3-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
