.headset-icon-CD-unit3-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 5%;
  left: 39%;
}

.pauseBtn-icon-CD-unit3-page3-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 5%;
  left: 44.2%;
}
