.click-icon-review4-page2-2 {
  position: absolute;
  padding: 5px;
  top: 3%;
  left: 67.5%;
  cursor: pointer;
}

.click-icon-review4-page2-3 {
  position: absolute;
  padding: 5px;
  top: 34%;
  right: 14%;
  cursor: pointer;
}
.click-icon-review4-page2-1 {
  position: absolute;
  padding: 5px;
  bottom: 32%;
  left: 52.5%;
  cursor: pointer;
}
