.headset-icon-CD-unit7-page2-1,
.headset-icon-CD-unit7-page2-2 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
}

.headset-icon-CD-unit7-page2-1 {
  top: 5.5%;
  right: 1%;
}

.headset-icon-CD-unit7-page2-2 {
  bottom: 27%;
  right: 6%;
}
.click-icon-unit7-page2-1 {
  background: red;
  width: 50px;
  height: 50px;
}
